body {
  margin: 0;
  padding: 0; }
  body ul, body li {
    display: block; }
  body li {
    list-style-type: none; }
  body .logo {
    width: 450px; }
  body .itpc {
    background-image: url("../../static/img/backgrounds/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 2034px; }
  body .menu a {
    color: #000; }
    body .menu a:hover {
      text-decoration: none; }
  body .menu .p-2 {
    margin-right: 30px; }
