body{
    margin: 0;
    padding: 0;

    ul, li{
        display: block;
    }

    li{
        list-style-type: none;
    }

    .logo{
        width: 450px;
    }

    @import './change_bootstrap.scss';
    @import './itpc.scss';
    @import './menu.scss';

}